<% form_for(@label) do |f| %>
  <%= render :partial => 'form', :locals => {:form => f} %>
<% end %>

<div class='existing_labels'>
  <h2>Existing Labels</h2>
  <div class='labels'>
    <%= render :partial => 'label', :collection => @labels %>
  </div>
</div>