body
  :padding 0 30px 0 30px

#header
  :height 64px
  :padding-top 10px
  :margin 0 -20px 0 -20px

#footer
  :height 30px

#logo
  :float left
  span
    :font-size = 60px
    :text-transform uppercase
    :letter-spacing -4px
    :font-family Helvetica, Arial, sans-serif

#nav
  :float right
  a.current
    :text-decoration none
    :color #CBCCCD
  
#flash, #error
  :margin-left 160px
  
#flash
  :color green
  
#error
  :color red
  
div.clearboth
  :clear both

#errorExplanation
  :width 224px
  :border 2px solid red
  :padding 5px
  :margin-bottom 10px
  :background-color #f0f0f0
  li
    :list-style-type disc  
    :list-style-position inside
    :padding-left 10px
  
.fieldWithErrors
  label
    :color red
  input[type=text], input[type=password]
    :background-color #FFD6DF
    
a.shout
  :display inline-block
  :position absolute
  :top 194px
  :left 360px
  :font-size 40px
  
#new_user_session, #new_user, #edit_user
  +shadow()
  :background-color #CBCCCD
  :width 240px
  :margin 50px
  :padding 10px
  input[type=text], input[type=password]
    :width 234px
  input[type=checkbox]
    :margin-right 5px
  input[type=text], input[type=password], div.checkbox_container
    :display block
    :margin-bottom 10px
  label
    :display block
    :margin-bottom 2px
  div.checkbox_container
    label
      :display inline
      
body.c_tasks.v_index
  :overflow-x hidden
  :overflow-y hidden
  #content
    +shadow()
    :border-left 1px solid black
    :border-bottom 1px solid black
  
div.quadrant
  :position relative
  :height 100px
  :width 50%
  ol
    li
      :background-color rgb(230, 230, 230)
      :border 1px solid rgb(150, 150, 150)
      :color rgb(85, 85, 85)
      :margin 5px 5px 5px 5px
      :padding 5px

#i1_u0.quadrant
  :float left
  :background-color #FFE6A3
  div.arrowhead
    :position absolute
    :left -12px
    :width 11px
    :height 109px
    :background url(/images/top_arrowhead.gif) no-repeat 0 0    

#i1_u1.quadrant
  :float right
  :background-color #A50C0F
  
#i0_u0.quadrant
  :float left
  :background-color #E4481F
  
#i0_u1.quadrant
  :float right
  :background-color #F89C47
  div.arrowhead
    :position absolute
    :right 0
    :bottom -12px
    :width 109px
    :height 11px
    :background url(/images/right_arrowhead.gif) no-repeat 0 0    
  