<%= link_to "or Sign In", new_user_session_path, :class => 'shout' %>

<% form_for @user, :url => account_path do |f| %>
  <h1>Create Account</h1>
  
  <%= f.error_messages :header_message => nil %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Register" %>
<% end %>